{% extends 'base.html.twig' %}

{% block title %}Modifier personnage{% endblock %}

{% block body %}
    <h1>Modifier le personnage</h1>

    {{ include('character/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('character_list') }}">
        <button>Retour</button>
    </a>

    {{ include('character/_delete_form.html.twig') }}
{% endblock %}
