{% extends 'base.html.twig' %}

{% block title %}Modifier personnage{% endblock %}

{% block body %}
    <h1>Modifier le personnage</h1>

    <a class="btn mb-3" href="{{ path('character_list') }}">Retour</a>

    {{ include('character/_form.html.twig', {'button_label': 'Valider'}) }}

    {{ include('character/_delete_form.html.twig') }}
   
{% endblock %}
