{% extends 'base.html.twig' %}

{% block title %}Nouveau personnage{% endblock %}

{% block body %}
    <h1>Nouveau personnage</h1>

    {{ include('character/_form.html.twig') }}

    <a href="{{ path('character_list') }}">
        <button>Retour</button>
    </a>
{% endblock %}
