{% extends 'base.html.twig' %}

{% block title %}Nouveau personnage{% endblock %}

{% block body %}
    <h1>Nouveau personnage</h1>

     <a class="btn mb-4 ml-5" href="{{ path('character_list') }}">Retour</a>

    {{ include('character/_form.html.twig') }}

{% endblock %}
