/* HOME */
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-weight: normal;
}

a {
    color: coral;
}

a:visited {
    color: rgb(255, 162, 129);
}

.main-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.season-pic {
    width: 225px;
    height: 350px;
}

.main-contain a {
    display: block;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    width: 241px;
    height: 425px;
    transition: all 0.5s ease;
}

.main-contain a img {
    display: inline;
}

.main-contain a:hover {
    background-color: rgba(159, 87, 177, 0.61);
    color: white;
    transform: scale(1.1, 1.1);
}

nav {
    background-color: rgb(159, 87, 177);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end ;
    flex-direction: row;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    margin-right: 2em;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    transition: color 0.5s ease;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

/* SEASON */

.season-container {
    display: flex;
    width: 75%;
    margin: auto;
}

.season-container img {
    height: 20em;
}

.right {
    display: flex;
    flex-direction: column;
}

.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.character {
    display: flex;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
    flex-direction: column;
    height: 12em;
    width: 7em;
}

.character h3 {
    font-size: small;
    margin-bottom: 0.1em;
    margin-top: 0;
    text-decoration: none;
}

.character:hover {
background-color: rgba(159, 87, 177, 0.61);
color: white;
transform: scale(1.1, 1.1);
}

.character img {
    height: 160px;
    width: 102px;
}
