{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1>Liste des saisons :</h1>

<button><a href="{{ path('season_new')}}">Ajouter</a></button>

<div class="main-contain">
{% for season in seasons %}
    
    <div class="postersHome">
        <a href="{{ path('season_show',{'id' : season.id})}}"> {{ season.name }}</a>
        <img src="{{ season.picture }}" alt="picture jojo season">
    </div>

{% endfor %}
</div>

{% endblock %}