{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1>Liste des saisons :</h1>

<div class="main-contain">
{% for season in seasons %}
    
    <a href="{{ path('season_view',{'id' : season.id})}}">
        <h3>{{ season.name }}</h3>
        <img src="{{ season.picture }}" alt="picture jojo season">    
    </a>

{% endfor %}
</div>

{% endblock %}