{% extends 'base.html.twig' %}

{% block title %}Nouvelle saison{% endblock %}

{% block body %}
    <h1>Nouvelle saison</h1>

     <a class="btn mb-4 ml-5" href="{{ path('homepage') }}">Retour</a>

    {{ include('season/_form.html.twig') }}

{% endblock %}
