{% extends 'base.html.twig' %}

{% block title %}Nouvelle saison{% endblock %}

{% block body %}
    <h1>Nouvelle saison</h1>

    {{ include('season/_form.html.twig') }}

    <a href="{{ path('homepage') }}">Retour</a>
{% endblock %}
