{% extends 'base.html.twig' %}

{% block title %}Nouveau Stand{% endblock %}

{% block body %}
    <h1>Nouveau Stand</h1>

    <a class="btn ml-5" href="{{ path('stand_list') }}">Retour</a>

    {{ include('stand/_form.html.twig') }}

{% endblock %}
