{% extends 'base.html.twig' %}

{% block title %}Stand{% endblock %}

{% block body %}

    <a href="{{ path('stand_edit', {'id' : stand.id})}}">
        <button>Modifier</button>
    </a>

    <h1>{{ stand.name }}</h1>

    <img src="{{ stand.picture }}" alt="stand picture">

    <p>{{ stand.description }}</p>

{% endblock %}
